.navbar {
    margin-bottom: 0;
    background-color: #2f2f2f;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

#logo {
    color: #26A950;
}

.navbar li a, .navbar {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #26A950 !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.navbar-toggle .icon-bar {
    background-color: #26A950 !important;
}

.jumbotron {
    background-color: #2f2f2f;
    color: #26A950;
    padding: 80px 25px 50px 25px;
}

.jumbotron #logoMain {
    width: 70%;
    margin: 0 auto;
}

.bg-grey {
    background-color: #f6f6f6;
}

.container-fluid {
    padding: 60px 50px;
}

.logo {
    color: #26A950;
    font-size: 200px;
}

.logo-small {
    color: #26A950;
    font-size: 50px;
}

.panel {
    border: 1px solid #26A950;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.2);
}

.panel-footer .btn:hover {
    border: 1px solid #26A950;
    background-color: #fff !important;
    color: #26A950;
}

.panel-heading {
    color: #fff !important;
    background-color: #26A950 !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-footer {
    background-color: #fff !important;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.panel-footer .btn {
    margin: 15px 0;
    background-color: #26A950;
    color: #fff;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #26A950;
}

/*@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}

@media (min-width: 600px) {
    .jumbotron #logoMain {
        height: 130px;
    }
}

@media (min-width: 950px) {
    .jumbotron #logoMain {
        height: 160px;
    }
}

@media (min-width: 1100px) {
    .jumbotron #logoMain {
        height: 200px;
    }
}*/
